body {
  font-family: 'Courier New', Courier, monospace;
  
}

img {
  width: 100px;
  height: 100px;
}

.title {
  font-size: 36px;
  font-weight: 900;
  
}



.header{
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.info{
  display: flex;
  margin: 0;
  padding: 32px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.text{
  
  margin: 0;
  padding: 8px;

}

